PORT=3000

DB_NAME="stk_db"
DB_HOST="localhost"
DB_USERNAME="admin"
DB_PASSWORD="1234"
DB_PORT=5432
DOMAIN=https://localhost

JWT_SECRET="123"
JWT_EXPIRES_IN="2min"
JWT_REFRESH_SECRET="321"
JWT_REFRESH_EXPIRES_IN="2days"
